section{
  padding:30%;
}
.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.transparent {
  background-color: transparent !important;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.divider {
  border-top: 2px solid #fff;
  border-radius: 2px;
  width: 10%;
  max-width: 40px;
}


.text-divider {
  border-top: 2px solid #dc3545;
  border-radius: 2px;
  width: 30%;
  max-width: 70px;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;

}

#nosotros {

}

#productos {
  background-image: url('images/fondo_madera.jpg');
  color: #fff;
  background-size: cover;
  background-attachment: fixed;
}

#productos .card-deck {
  color: initial;
}

.bg-footer{
  background-color:#191B1E;
}
#contacto {
  background-color:#343a40;
  color: #fff;
}

h3{
  font-family: "Montserrat", Sans-serif;
  font-size:45px;
}