{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link href=" {% static 'main/fontawesome/css/all.css' %}" rel="stylesheet">
  <script src=" {% static 'main/jquery-3.5.1.js' %}"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'main/estilos.css' %}">
</head>
<body>
  <!-- Navegación -->
  {% include 'main/navegacion.html' with posicion='navbar-absolute' links_abs='no' %}
  <!-- Slider -->
  <header>
    <div id="carouselImagenes" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url({% static 'main/images/slide1.jpg' %}); background-position: 27% center;">
          <div class="carousel-caption mb-5">
            <h2 class="display-4">Los mejores cortes</h2>
            <hr class="divider">
            <p class="lead">Pedí de forma fácil y rápida los productos de más alta calidad del mercado.</p>
            <a href="#nosotros" role="button" class="btn btn-danger mt-4 py-2 px-4 rounded-pill">Conocer más</a>
          </div>
        </div>
        <div class="carousel-item" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url({% static 'main/images/slide2.jpg' %})">
          <div class="carousel-caption mb-5">
            <h2 class="display-4">A la puerta de tu casa</h2>
            <hr class="divider">
            <p class="lead">Te enviamos nuestros productos a todos los puntos de Atlántida, Las Toscas y Parque del Plata.</p>
            <a href="https://wa.me/59891666082/?text=%C2%A1Hola!%20Quisiera%20pedir..." target="_blank" role="button" class="btn btn-danger mt-4 py-2 px-4 rounded-pill">Pedir por WhatsApp</a>
          </div>
        </div>
      <div class="carousel-item" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url({% static 'main/images/slide3.jpg' %})">
          <div class="carousel-caption mb-5">
            <h2 class="display-4">La mejor variedad en productos</h2>
            <hr class="divider">
            <p class="lead">Tenemos todo lo que necesitás para hacer de tu parrillada la más completa.</p>
            <a href="#productos" role="button" class="btn btn-danger mt-4 py-2 px-4 rounded-pill">Ver los productos</a>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselImagenes" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#carouselImagenes" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>
  </header>

  <!-- Botón de WhatsApp -->
  <a href="https://wa.me/59891666082/?text=%C2%A1Hola!%20Quisiera%20pedir..." id="boton-whatsapp" target="_blank">
    <i id="icono-whatsapp" class="fab fa-whatsapp"></i>
  </a>

  <!-- Sección "Sobre nosotros" -->
  <section class="container-fluid text-center px-sm-5 px-md-5" id="nosotros">
    <h3>Sobre nosotros</h3><hr class="text-divider">
    <div class="row">
      <div class="col-sm-8 d-flex align-items-center">
        <div>          
          <p><strong>Carnicería La Once</strong> se instaló en 2017 sobre la Ruta 11 cerca de la Ruta Interbalnearia, en una ubicación ideal para la población de los alrededores y los turistas que van de camino a sus vacaciones.</p>
          <p>Nuestro equipo crece año a año, sobre las mismas bases que el primer día: dar una excelente atención a todos los clientes, priorizando en nuestro personal la calidad humana ante otros aspectos.</p>
          <p>Nos centramos en ofrecer productos de calidad, por lo cuál somos proveedores de gran cantidad de restaurantes y servicios gastronómicos de la zona. La mayor muestra de lo que nuestro negocio representa es la satisfacción de nuestros clientes.</p>
        </div>
      </div>
      <div class="col-sm-4 d-flex align-items-center">
        <img class="img-fluid rounded img-thumbnail shadow" src="{% static 'main/images/foto1.jpg' %}" alt="foto">
      </div>
    </div>
  </section>

  <!-- Sección "Productos" -->
  {% block content %}
    <section class="container-fluid text-center px-sm-5 px-md-5" id="productos">
      <h3 class="fade-in" >Productos</h3><hr class="text-divider">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, perferendis quam! Delectus nesciunt cupiditate pariatur numquam nostrum libero asperiores, blanditiis ullam dolorem iusto sapiente quidem? Laboriosam dignissimos itaque aperiam laborum!</p>
      
      {% if destacados %}
      {% comment %}
      <div id="carouselProductos" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner w-100 row pb-5 grupo-productos" role="listbox">

          <!-- <div class="carousel-item active">
            <div class="col-md-3">
              <div class="card text-center shadow-sm border-0">
                <img class="card-img-top rounded" src="../../../media/asado_pmid9rS.png" alt="imagen1">
                <div class="card-body p-2">
                  <p class="card-text text-muted mb-1"><small>Carne vacuna</small></p>
                  <h4 class="card-title text-danger">Asado</h4>
                </div>
              </div>
            </div>
          </div> -->

          {% for d in destacados %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <div class="col-md-3">
              <div class="card text-center shadow-sm border-0">
                {% if d.precio_oferta %}
                <div class="badge badge-danger badge-producto p-2 font-weight-light"><span class="fa fa-star fa-fw"></span> OFERTA</div>
                {% elif d.destacado %}
                <div class="badge badge-secondary badge-producto p-2 font-weight-light"><span class="fa fa-star fa-fw"></span> DESTACADO</div>
                {% endif %}
                
                <img class="card-img-top rounded" src="{% if d.imagen and d.imagen.url != ''  %}{{d.imagen.url}}{% else %} {% static 'main/images/Default.jpeg' %}{% endif %}" alt="{{ d.nombre }}">
                <div class="card-body p-2">
                  <p class="card-text text-muted mb-1"><small>{{ d.categoria }}</small></p>
                  <h4 class="card-title text-danger">{{ d.nombre }}</h4>
                </div>
                <ul class="list-group list-group-flush" style="font-size: 1.2rem;">
                  <li class="list-group-item">
                  {% if d.precio_oferta %}
                  <span class="font-weight-bold text-dark"><del class="text-muted">${{ d.precio|floatformat:2 }}</del> ${{ d.precio_oferta | floatformat:2 }}</span>
                  {% else %}
                  <span class="font-weight-bold text-dark">${{ d.precio|floatformat:2 }}</span>
                  {% endif %}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          {% endfor %}

          <!-- <div class="carousel-item">
            <div class="col-md-3">
              <div class="card text-center shadow-sm border-0">
                <img class="card-img-top rounded" src="../../../media/milanesas_de_carne.png" alt="imagen8">
                <div class="card-body p-2">
                  <p class="card-text text-muted mb-1"><small>Carne vacuna</small></p>
                  <h4 class="card-title text-danger">Asado</h4>
                </div>
              </div>
            </div>
          </div> -->

        </div>
        <a class="carousel-control-prev w-auto" href="#carouselProductos" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next w-auto" href="#carouselProductos" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>
      {% endcomment %}

      <div class="top-content">
        <div class="container-fluid">
          <div id="carouselProductos" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner row w-100 mx-auto" role="listbox">
              {% for d in destacados %}
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 {% if forloop.first %}active{% endif %}">
                <div class="card text-center shadow-sm border-0">
                  {% if d.precio_oferta %}
                  <div class="badge badge-danger badge-producto p-2 font-weight-light"><span class="fa fa-star fa-fw"></span> OFERTA</div>
                  {% elif d.destacado %}
                  <div class="badge badge-secondary badge-producto p-2 font-weight-light"><span class="fa fa-star fa-fw"></span> DESTACADO</div>
                  {% endif %}
                  
                  <img class="card-img-top rounded" src="{% if d.imagen %}{{d.imagen.url}} {% else %} {% static 'main/images/Default.jpeg' %} {% endif %}" alt="{{ d.nombre }}">
                  <div class="card-body p-2">
                    <p class="card-text text-muted mb-1"><small>{{ d.categoria }}</small></p>
                    <h4 class="card-title text-danger">{{ d.nombre }}</h4>
                  </div>
                  <ul class="list-group list-group-flush" style="font-size: 1.2rem;">
                    <li class="list-group-item">
                    {% if d.precio_oferta %}
                    <span class="font-weight-bold text-dark"><del class="text-muted">${{ d.precio|floatformat:2 }}</del> ${{ d.precio_oferta | floatformat:2 }}</span>
                    {% else %}
                    <span class="font-weight-bold text-dark">${{ d.precio|floatformat:2 }}</span>
                    {% endif %}
                    </li>
                  </ul>
                </div>
              </div>
              {% endfor %}
            </div>
            <a class="carousel-control-prev w-auto" href="#carouselProductos" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next w-auto" href="#carouselProductos" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
          </div>
        </div>
      </div>

      <a class="btn btn-danger rounded-pill" href="{% url 'productos' %}" role="button">Ver más</a>
      {% endif %}
  </section>
  {% endblock %}

  <!-- Sección "Hacé tu pedido" -->
  <section class="container-fluid text-center px-sm-5 px-md-5" id="pedido">
    <h3>Hacé tu pedido</h3><hr class="text-divider">
    <p><b>Realiza tu pedido</b>. Simplemente indicando los productos que deseés, la cantidad y el medio de pago te lo llevaremos a tu casa!<p>
    <p>¡Aceptamos débito y crédito!</p>
    <p>Puedes comunicarte con nosotros por llamada telefónica o por Whatsapp, nuestro horario de atención es de 8:00hs a 21:00 hs de Lunes a Sábado y 8:00hs a 14:00hs los Domingos. </p>
    <p>A continuación, haz click en el medio de comunicación que deseés y serás redireccionado directamente a realizar el pedido.</p>
    <div class="d-flex flex-row ">
      <div class="col-md-6 col-sm-12 col-xs-12 d-flex justify-content-end">
        <a href="tel:+59891666082" class="btntel"><i class="fas fa-phone-alt"></i></a>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 d-flex justify-content-left">
        <a href="https://api.whatsapp.com/send/?phone=59891666082&text=%C2%A1Hola%21+Quisiera+pedir...&app_absent=0"  class="btnwhats" width="33px" ><i class="fab fa-whatsapp" ></i> </a>
      </div>
    </div>
    <br>
    </p> ¡Si te encuentras dentro del rango de envío te lo llevamos directo a tu casa!</p>
    <img class="img-responsive" src="{% static 'main/images/Envios.png' %}" style="max-width:650px;width:100%;" >
  </section>

  <!-- Sección "Contactanos" -->
  <section class="container-fluid text-center px-sm-5 px-md-5" id="contacto">
    <h3>Contáctanos</h3><hr class="text-divider"><br>
    {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'error' %}
          <div id="alerta" class="alert alert-warning " runat="server" style="background-color:#dc3545;border:none;color:white;" visible="true">{{ message }}</div>
        {% else %}
          <div id="alerta" class="alert alert-warning " runat="server" style="background-color:#25d366;;border:none;color:white;" visible="true">{{ message }}</div>
        {% endif %}
      {% endfor %}
    {% endif %}
    <div class="row">
      <div class="col-sm-12 col-md-6 py-3">

        <form method="post">
        <p>Realiza tu pedido o consulta.</p><br>
        <!-- <ul style="list-style: none;">
          <li><i class="fas fa-phone-alt" style="font-size:30px;"></i><p>  091666082</p></li>
          <li><i class="far fa-compass" style="font-size:30px;"></i><p>Ruta 11, kilómetro 166</p></li>
        </ul>
        <br> -->
        <form class="text-left">
          <div class="form-row">
            {% csrf_token %} 
            <div class="form-group col-md-6">
              <label for="{{ form.nombre.id_for_label }}"> Nombre: </label>
              {{ form.nombre }}
            </div>            

            <div class="form-group col-md-6">
              <label for="{{ form.apellido.id_for_label }}">Apellido</label>
              {{ form.apellido }}
            </div>

          </div>
          
          
          <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Email</label>
            {{ form.email }}
          </div>

          <div class="form-group">
            <label for="{{ form.mensaje.id_for_label }}">Mensaje</label>
            {{ form.mensaje }}         
          </div>

          <!-- <br> -->
          <!-- <div class="row"> -->
            <!-- <button type="button" class="btn btn-danger rounded-pill" style="margin:auto;" >Enviar</button> -->
          <!-- </div> -->
          <div class="form-row text-center">
            <div class="col-12">
              <button type="submit" class="btn btn-danger">Enviar</button>
            </div>
          </div><br>
        </form>
      </div>

      <div class="col-sm-12 col-md-6 py-3" style="border-left-width: thin; border-left-style: solid;">
        
        <p><i class="fas fa-phone-alt fa-lg"></i> 091 666 082</p>
        <p><i class="fas fa-map-marker-alt fa-lg"></i> Ruta 11, km. 166</p>
        

        <!-- <i class="fal fa-skull-cow"></i> -->
        <!-- <i class="fas fa-map-marker-alt" style="font-size: 50px;color:white"></i><br> -->
        
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10893.334443326752!2d-55.7623314270204!3d-34.7602317028813!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc50d487086ec8411!2sCarnicer%C3%ADa%20La%20Once!5e0!3m2!1ses-419!2suy!4v1609344680663!5m2!1ses-419!2suy"></iframe>
        </div>
      </div>

    </div>
  </section>
  {% include 'main/footer.html' %}

  <!-- <main>
    <section id="nosotros"></section>
    <section id="productos"></section>
    <section id="pedido"></section>
  </main>
  <footer></footer> -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="{% static 'main/script.js' %}"></script>
</body>
</html>