{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <style>
    a{
        display:inline-block;
        text-decoration: none;
        font-weight: 400; 
    }  
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link href=" {% static 'main/fontawesome/css/all.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'main/estilos.css' %}">
</head>
<body>

  <!-- Navegación -->
  <nav class="navbar navbar-expand-lg navbar-dark py-3" style="position: relative;background-color: #343a40;">
    <a class="navbar-brand" href="#">
      <img src="{% static 'main/images/logo.png' %}" width="50" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navegacion">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navegacion">
      <ul class="navbar-nav m-auto text-uppercase font-weight-bold">
        <li class="nav-item">
          <a class="nav-link" href="#inicio">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/index/#nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/index/#productos">Nuestros producto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/index/#pedido">Hacé tu pedido</a>
        </li>
      </ul>
    </div>
  </nav>
  <section style="padding:6em;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a style="color:grey;" href="#">Inicio</a></li>
          <li class="breadcrumb-item active" style="color:#bc648a;" aria-current="page">Productos</li>
        </ol>
      </nav>
    <h1>Productos</h1>
    {% block content %}
    {% if Productos %}
        <div class="panel panel-info">
            <div class="panel-heading btn btn-primary" style="background-color:transparent;color:grey;border:none;">
                <i class="fas fa-filter"></i>
             <a fas fa-filter data-toggle="collapse" style="color:grey" data-target="#filtrosArea" href="javascript:void(0);" aria-expanded="false">
               Filtrar productos</a>
            </div>
        </div>
        <div id="filtrosArea" style="padding-right:20%;padding-left:10%;" class="collapse">
            <hr>
            <div class="panel panel-body">
                <h5>Categorias:</h5>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="card-deck">
                {% for p in Productos %}
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="card border-dark" >
                            <img class="card-img-top" src={% if p.imagen %}"{{p.imagen.url}}"  {% else %} "" {% endif %} alt="{{p.nombre}}">
                            <div class="card-body>
                              <h5 class="card-title" >{{p.nombre}}</h5>
                              <h6 class="card-subtitle text-muted">${{p.precio}}</h6>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>


    {% endif %}
    {% endblock %}

  </section>



  <footer class="container-fluid text-center bg-dark text-white">
    <p>© 2020 Copyright</p>
  </footer>

  <!-- <main>
    <section id="nosotros"></section>
    <section id="productos"></section>
    <section id="pedido"></section>
  </main>
  <footer></footer> -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>