{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <style>
    a{
        display:inline-block;
        text-decoration: none;
        font-weight: 400; 
    }  
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link href=" {% static 'main/fontawesome/css/all.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'main/estilos.css' %}">
</head>
<body>

  <!-- Navegación -->
  {% include 'main/navegacion.html' with links_abs='si' %}
  {% comment %} <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position: relative">
    <a class="navbar-brand" href="#">
      <img src="{% static 'main/images/logo.png' %}" width="50" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navegacion">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navegacion">
      <ul class="navbar-nav m-auto text-uppercase font-weight-bold">
        <li class="nav-item">
          <a class="nav-link" href="#inicio">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/index/#nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/index/#productos">Nuestros producto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/index/#pedido">Hacé tu pedido</a>
        </li>
      </ul>
    </div>
  </nav> {% endcomment %}

  <section class="container-fluid text-center px-sm-5">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a style="color:grey;" href="{% url 'index' %}">Inicio</a></li>
        <li class="breadcrumb-item active" style="color:#bc648a;" aria-current="page">Productos</li>
      </ol>
    </nav>
    <h1 class="my-4">Productos</h1>
      {% if productos %}
      <div id="tabs-productos">
        <ul class="nav nav-tabs flex-column flex-sm-row" id="categorias" role="tablist">
          {% for categoria in productos %}          
          <li class="nav-item">
            <a class="nav-link flex-sm-fill text-sm-center {% if forloop.first %}active{% endif %}" id="{{categoria.texto_etiqueta}}-tab" data-toggle="tab" href="#{{categoria.texto_etiqueta}}" role="tab" aria-controls="{{categoria.texto_etiqueta}}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
              <img src="{{categoria.icono.url}}" width="40px">
              {{categoria.nombre}}
            </a>
          </li>
          {% endfor %}
        </ul>

        <div class="tab-content" id="contenido">
          {% for categoria, valor in productos.items %}
          <div class="container-fluid tab-pane fade {% if forloop.first %}show active{% endif %} px-sm-5" id="{{categoria.texto_etiqueta}}" role="tabpanel" aria-labelledby="{{categoria.texto_etiqueta}}-tab">
            {% if valor %}
            <div class="card-deck">
            <!--<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 card-deck">-->
              {% for producto in valor %}
              <div class="card border-dark" >
                <img class="card-img-top" src="{{producto.imagen.url}}" alt="{{producto.nombre}}">
                <div class="card-body">
                  <h5 class="card-title">{{producto.nombre}}</h5>
                  <h6 class="card-subtitle text-muted">${{producto.precio}}</h6>
                </div>
              </div>
              {% endfor %}
            </div>
            {% else %}
            <p>No hay nada que ver por aquí...</p>
            {% endif %}
          </div>
          {% endfor %}
        </div>

        <!-- <div class="card-deck">
          {% for p in productos %}
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="card border-dark" >
              <img class="card-img-top" src="{{p.imagen.url}}" alt="{{p.nombre}}">
              <div class="card-body">
                <h5 class="card-title">{{p.nombre}}</h5>
                <h6 class="card-subtitle text-muted">${{p.precio}}</h6>
              </div>
            </div>
          </div>
          {% endfor %}
        </div> -->
      </div>
    {% endif %}
  </section>

  <footer class="container-fluid text-center bg-dark text-white">
    <p>© 2020 Copyright</p>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>